---
import { PROFILES } from "@constants";
import Github from "./icons/Github.astro";
---

<ul class="flex flex-col gap-2">
    <li>
        <a href={PROFILES.resume}>
            My Resume
        </a>
    </li>
    <li>
        <a href={PROFILES.github}>
            <Github />
        </a>
    </li>
</ul>